.cartBtn {
  outline: none;
  border: none;
  padding: 2rem 7rem;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 5px 2px 5px black;
}

.cartBtn:hover {
  transform: translateY(-3px);

  box-shadow: 5px 5px 10px black;
}

.cartBtn:active {
  transform: translateY(1px);
  box-shadow: 5px 2px 5px black;
}
