.landingMessage {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.landingMessage_title {
  font-size: 5rem;
  color: white;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 2rem;
}

