*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 5rem;
  background-color: #0d0d0d;
}

.App {
  padding: 3rem;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns:
    [sidebar-start] 5rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
    background-color:#000026;
}

.header {
  padding: 1rem;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.landingMessage {
  padding: 1rem;
  grid-column: col-start 2 / col-end 6;
}

.content {
  grid-column: col-start 1 / col-end 7;
  background-color: brown;
}
